$header_height: 48px;
$toolbar_height: 48px;
$formula_height: 32px;
$dashboard_header_height: 64px;
$row-height: 24px;
$info-cell-width: 32px;
$cell-width: 120px;
$border_color: rgba(0, 0, 0, 0.2);
$padding_main: 0 20px;
$border_main: 1.5px solid $border_color;
$green_color: #45a980;